.question {
    display: flex;
    gap: 1rem;
}

.ask-question>form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border: 1px solid #2f3e46 ;
    border-radius: 25px;
}

.guess-ia-section>form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid #2f3e46 ;
    border-radius: 25px;
}

.kasunSurprise {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0;
    transform: translateX(-50%);
}