#complimentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;
  }
  
  #newComplimentButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }