* {
  box-sizing: border-box;
}
/* .clock{
  color: black;
  background-color: aliceblue;
} */
body {
  margin: 0 2rem;
  background-color: #cad2c5;
  color: #2f3e46;
}

form {
  max-width: 700px;
  margin: 0px;

}

form fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

form input,
form textarea {
  padding: 0.5rem;
  width: 100%;
}

#clock {
  position: absolute;
  top: 5px;
  left: 0;
  background-color: #84a98c;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
} 

#complimentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

#newComplimentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  /* background-color: #52796f; */
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}