* {
  box-sizing: border-box;
  /* border: 1px solid black; */
  background-image: url("../../resources/user_stories.png");
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background-color: #cad2c5;
  background-image: url("../../resources/user_stories.png");
  background-repeat: repeat;
  color: #2f3e46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

#welcome {
  justify-content: center;
  align-items: center;
  text-align: justify;
}

#clock {
  position: fixed;
  top: 5px;
  left: 0;
  background-color: #84a98c;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
}

h1 {
  margin-top: 20px;
}

.kasun {
  background-image: url(../../resources/NewProject.png);
}