.quote-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 700px;
    gap: 1rem;
}

.quote {
    border: 1px solid #2f3e46;
    padding: 0.5rem 1rem;
    box-shadow: 3px 3px 3px #52796F;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.material-symbols-outlined.delete {
    color: rgb(200, 60, 60)
}
.material-symbols-outlined.update {
    color: rgb(42, 125, 80);
}

.add-quote>form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border: 1px solid #2f3e46 ;
    border-radius: 25px;
}

p {
 margin-bottom: 0px;
}

#add-quote-btn {
    margin-bottom: 0.5rem;
}
