.header-nav {
  margin: 0 auto;
  padding: 0 1rem;
}

.header-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.header-nav li {
  padding: 0 0.5rem;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  width: 300px;
  margin-left: auto;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #2f3e46;
  border-radius: 15px;
}

#navbar li {
  margin-bottom: 10px;
}

#navbar li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#navbar li a:hover {
  background-color: #415a77;
}