<!-- This file is just to write out html before transferring it into the JS files -->

<section class="add-quote">
    <form action="" onSubmit="addQuote(event)" class="new-quote-form">
        <fieldset>
            <label for="">IA Name: </label>
            <input type="text" name="name">
        </fieldset>
        <fieldset>
            <label for="">Quote: </label>
            <input type="text" name="quote">
        </fieldset>
        <button>Add Quote</button>
    </form>
</section>

<p onClick="renderAddQuoteForm()">Add New Quote!</p>